footer {
  padding-top: $paddingHeight;
  padding-bottom: $paddingHeight;
  padding: 3 * $paddingHeight 0 $paddingHeight;
  @include media {
    padding: 3 * $headerHeight 0 3 * $paddingHeight;
  }
  @include media($laptop) {
    padding: 4.5 * $headerHeight 0 3 * $paddingHeight;
  }
  @include media(1800px) {
    padding: 7.5 * $headerHeight 0 3 * $paddingHeight;
  }
  section {
    margin-bottom: 0;
  }
  background-color: $black;
  * {
    color: $footerColor;
  }
  a,
  div {
    font-size: 1em;
    margin: 0.5vh 0;
  }
  span {
    color: $white;
  }
  .links {
    span {
      margin: 2vh 0 4vh;
      display: flex;
      justify-content: space-between;
      width: 100%;
      svg{
        width: 5%;
        @include media{
          display: none;
        }
      }
    }
    a {
      margin: 2vh 0;
    }
    svg {
      width: 10%;
      vertical-align: middle;
      margin-right: $smallMargin;
    }
    hr {
      margin: -3vh 0 0;
    }

    @include media {
      div {
        width: auto;
      }
      hr {
        display: none;
      }
      justify-content: space-between;
    }
    align-items: flex-start;
  }
  div.flex_c {
    align-items: flex-start;
  }
  .socials {
    .follow {
      a {
        margin: 0 3 * $smallpadding;       
        transform: scale(1.2);
        @include media{
          margin: 0 2 * $smallpadding;       
          transform: none;

        }
      }
    }

    margin-top: 6vh;
    @include media {
      justify-content: space-between;
      align-items: center;
      .logo {
        display: flex;
        svg:first-child {
          margin-right: 2 * $smallpadding;
        }
      }
    }
  }
  .allRightReserved{
    text-align: center;
  }
}
